@import "~@fluentui/react/dist/sass/References.scss";

.spotlightContainer {
    // font-family: "Rubik", sans-serif !important;
    gap: 0.5em;
    width: 100%;
    flex-shrink: 0;
    border-radius: 5px;
    // background: #fcfcfc;
    background-color: white;
    // box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.2);
    border: 0.5px solid #d5dce9;
    flex-direction: column;
    height: 250px;
    display: flex;
    align-items: center;
}

.title {
    padding-top: 1em;
    color: #0d4282;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sportLightEmployeeName {
    margin-top: -55px;
}

.item {
    display: grid;
    place-items: center;
    /* width: 80%; */
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 20px;

    // display: flex;
    width: 100%;
    height: 11rem;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    font-weight: 500;

    .imageContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;

        .peopleImg {
            width: 60%;
            height: 60%;
            flex-shrink: 0;
            object-fit: cover;
            border-radius: 50%;
            pointer-events: none;

            padding: 0.5rem;
        }
    }

    .eventDescription {
        max-width: 80%;
        justify-self: baseline;
        width: auto;
        height: 90px;
        overflow-y: scroll;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .spotlightContainer {
        width: 95.5%;
        align-items: center;
    }

    .item .imageContainer {
        width: 60%;
    }

    .sportLightEmployeeName {
        margin: 0;
    }
}

@media (max-width: 768px) {

    .spotlightContainer {
        width: 88%;
    }

}